*{
   font-family: monospace;
}
body{
    margin: 0;
    background-color: #f0f8ff;
    font-size: 15px;
}
header{ 
    height: 100vh;
    color: white;
    background-color: #2196F3;
}
header h1{
    color: white;
    margin: 0;
}
h1{
    font-size: 2rem;
    color:#2196F3 ;
}
.button{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointre;
}
.button:hover{
    color: white;
    background-color: rgb(64, 56, 136);
}
main{
    padding: 20px;
}
section{
    height: 100vh;
    border: 1px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
}
.submit{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointre;
     background-color: #2196F3;
}
.submit:hover{
    color: white;
    background-color: rgb(57, 199, 14);
}
